* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.cv {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 40px;
  background: #f5f5f5;
}

.header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: lavender;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
}

.header__logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.header__contacts {
  list-style: none;
}

.title {
  margin-right: 20px;
  flex-basis: 30%;
}

section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
}

.skills__content {
  margin-bottom: 0;
  border-bottom: none;
}

.skills__technologies {
  margin-right: 50px;
}

.english {
  margin-bottom: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: lavender;
}

.footer__git-link img {
  width: 70px;
}

svg {
  width: 100px;
  height: 100px;
}

@media all and (max-width: 520px) {
  .header__name {
    font-size: 20px;
  }
  .header__occupation {
    font-size: 15px;
  }
  .contacts__title,
  .contacts__phone {
    font-size: 15px;
  }
  .title {
    font-size: 20px;
  }
}

@media all and (max-width: 420px) {
  .header {
    align-items: center;
    flex-direction: column;
  }
  .header__logo {
    margin-bottom: 15px;
  }
  .header__occupation {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .header__name {
    font-size: 18px;
  }
  .header__occupation {
    font-size: 15px;
  }
  .contacts__title,
  .contacts__phone {
    font-size: 15px;
  }
  .title {
    font-size: 18px;
  }
}

@media all and (max-width: 420px) {
  .statement,
  .skills,
  .code,
  .education,
  .courses,
  .english {
    flex-direction: column;
  }
  .title {
    margin-bottom: 10px;
  }
}
